/* Stylesheet by Ana J. Wells, 2016 */
#map {
    height: 480px;
    width: 900px;
    display: inline-block;
}


.skip {
   width: 60px;
   height: 30px;
   background-color: rgba(252,146,114,0.6);
   text-align: center;
   stroke: none;

}

path {
   fill: #000;
   fill-opacity: .2;
   stroke: #fff;
   stroke-width: 1.5px;
}

path:hover {
fill: brown;
fill-opacity: .7;
}


.leaflet-popup-content p {
	margin: 0.2em 0;
}

.site-control-container  {      /*}, .legend-control-container {*/
    width: 240px;
    height: 50px;
    background-color: rgba(255,255,255,0.6);
    padding: 10px;
    line-height: 40px;
    text-align: center;
    border: solid gray 1px;
}
 /*.site-control-container {
	width: 180px;
	height: 80px;
	line-height: 45px;
}
*/

.legend-control-container {
	width: 200px;

  line-height: 50px;
}

#temporal-legend {
	font-weight: regular;
	font-size: 1.4em;
}

#panel {
    width: 36%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    line-height: 10px;
}
